{
  "version": 1,
  "name": "interface",
  "schedule": {
    "type": "simple",
    "interval": "1s"
  },
  "workflow": {
    "collect": {
      "metrics": {
        "/intel/procfs/iface/*/bytes_recv": {},
        "/intel/procfs/iface/*/bytes_sent": {},
        "/intel/procfs/iface/*/errs_recv": {},
        "/intel/procfs/iface/*/fifo_recv": {}
      },
      "publish": [
        {
            "plugin_name": "influxdb",
            "config": {
                "host": "{{ vizstack_host }}",
                "port": 8086,
                "database": "{{ interface_telemetry_db }}",
                "user": "admin",
                "password": "admin"
            }
        }
      ]
    }
  }
}