curl 'http://admin:admin@{{ vizstack_host }}:3000/api/datasources' -X POST -H 'Content-Type: application/json;charset=UTF-8' --data-binary '{"name":"influx","type":"influxdb","url":"http://{{ vizstack_host }}:8086","access":"proxy","isDefault":true,"database":{{ cpu_telemetry_db }},"user":"admin","password":"admin"}' && \
curl 'http://admin:admin@{{ vizstack_host }}:3000/api/datasources' -X POST -H 'Content-Type: application/json;charset=UTF-8' --data-binary '{"name":"influx","type":"influxdb","url":"http://{{ vizstack_host }}:8086","access":"proxy","isDefault":true,"database":{{ interface_telemetry_db }},"user":"admin","password":"admin"}' && \
curl 'http://admin:admin@{{ vizstack_host }}:3000/api/datasources' -X POST -H 'Content-Type: application/json;charset=UTF-8' --data-binary '{"name":"influx","type":"influxdb","url":"http://{{ vizstack_host }}:8086","access":"proxy","isDefault":true,"database":{{ iostat_telemetry_db }},"user":"admin","password":"admin"}' && \
curl 'http://admin:admin@{{ vizstack_host }}:3000/api/datasources' -X POST -H 'Content-Type: application/json;charset=UTF-8' --data-binary '{"name":"snap","type":"Snap DS","url":"http://{{ vizstack_host }}:8181","access":"proxy","isDefault":true}'
